* {
    box-sizing: border-box;
}

html {
    font-family: Verdana;
    font-size: 16px;
    color: #555;
}

.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    text-align: center;
    background-image: linear-gradient(60deg, red, orange);
    color: #fff;
}

.main {
    display: flex;
    flex: 1;
}

.footer {
    padding: .5em;
    text-align: center;
    background-color: #e5e5e5;
}

.navigation,
.section,
.news {
    padding: .5em;
}

.navigation,
.news {
    width: 20%;
}

.section {
    width: 60%;
    font-size: 1.25em;
}

.units-list {
    line-height: 1.75em;
}

.css-units {
    font-size: 1.125em;
    font-weight: 700;
    color: #8b0000;
    background-color: #e5e5e5;
}

.section__header {
    text-align: center;
    font-size: 5vw;
}

.nav-list {
    padding: 0;
    list-style: none;
}

.nav-list-item {
    height: 2em;
    margin-bottom: .5em;
    padding: 0 .5em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #fff;
    background-color: #808080;
}

.nav-list-link {
    line-height: 2em;
    text-decoration: none;
    color: #fff;
}

.image {
    max-width: 100%;
    background-color: #000;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 900px) {
    .main {
        flex-wrap: wrap;
    }
    .section {
        width: 80%;
    }
    .news {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .main {
        flex-direction: column;
    }
    .navigation,
    .section,
    .news {
        width: 100%;
    }
}