.article {
    background-color: bisque;
    margin: 8px;
    padding: 16px;
    flex: 300px 1 0;
}

header {
    text-align: center;
}

.articles-list {
    display: flex;
    flex-wrap: wrap;
}

* {
    box-sizing: border-box;
}