.article {
    background-color: bisque;
    margin: 8px;
    padding: 16px;
    width: 300px;
}

header {
    text-align: center;
    margin: 0;
}

.articles-list {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: auto;
}