.main {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.wrapper {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 600px) {
        flex-direction: row;
    }
}

.section {
        padding: 0.5em;
    font-size: 1.25em;

    @media screen and (min-width: 600px) {
        width: 80%;
    }
    
}
.navigation {
    
    padding: 0.5em;

    @media screen and (min-width: 600px) {
        width: 20%;
    }
    
    &__list {
    padding: 0;
    
    }


    &__list-item {
    list-style-type: none;
    height: 2em;
    background-color: grey;
    line-height: 2em;
    color: white;
    margin-bottom: 0.5em;
    // &_selected {
    //     background-color: green;
    // }
    }

    

    &__link    {
        width: 100%;
        display: inline-block;
        padding: 0 0.5em;
        text-decoration: none;
        color: white;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.section__header {
    font-size: 5vw;
    text-align: center;
}
.css-units {
    font-size: 1.125em;
    font-weight: 700;
    color: #8b0000;
    background-color: #e5e5e5;
}
.units-list {
    line-height: 1.75em;
}
.news {
    // width: 20%;
    padding: 0.5em;
}