* {
    box-sizing: border-box;
}

.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: yellow;
    height: 40px;
}

.main {
    flex: 1;
    display: flex;
}

.dashboard {
    display: flex;
    background-color: pink;
    flex: 1;
}

.title {
    margin: auto;
    width: 300px;
}

.news {
    background-color: grey;
    width: 200px;
}

.footer {
    background-color: green;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}