* {
    box-sizing: border-box;
}

.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: yellow;
    height: 40px;
}
.nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav-list-item {
    margin-left: 16px;
    line-height: 40px;
}

.main {
    flex: 1;
    display: flex;
}

.dashboard {
    display: flex;
    background-color: pink;
    flex: 1;
}

.title {
    margin: auto;
    
}

.news {
    display: flex;
    background-color: grey;
    width: 200px;
    flex-direction: column;
}
.news__title {
    margin: 16px;
    text-align: center;
}
.news__list {
    margin: 0;
    padding: 0;
    list-style: none;

}
.news__list-item {
    line-height: 40px;
    padding-left: 16px;

}
.footer {
    background-color: green;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}