* {
    box-sizing: border-box;
}

.page {
    background-color: bisque;
    position: relative;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    background-color: aqua;
    height: 300px;
    padding: 16px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    font-family: monospace, sans-serif;
    top: calc(50% - 300px);
    left: calc(50%);
}

.form-title {
    display: flex;
    text-transform: uppercase;
    text-align: center;
}

.form-input {
    display: flex;
    margin-bottom: 8px;
    height: 32px;
    border-radius: 4px;
    border: 1px #808080;
    padding: 4px;
    outline: none;
    width: 100%;
}

.form-label {
    display: flex;
    margin-bottom: 4px;
    ;
}

.submit-button {
    display: flex;
    height: 32px;
    background-color: #ff7f50;
    margin-top: 16px;
    text-transform: uppercase;
    color: white;
    border-radius: 4px;
    width: 100%;
}


/* .form-label, */


/* .form-input { */

display: block;

}

/* input[type="checkbox"] {
    visibility: hidden;
    width: 0;
    height: 0;
}

.checkbox {
    position: relative;
    padding-left: 35px;
    margin: 16px;
    font-size: 24px;
    display: inline-block;
}

.checkmark {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #d3d3d3;
    display: inline-block;
    top: 0;
    left: 0;
}

.checkbox input:checked+.checkmark {
    background-color: #006400;
} */