    * {
        box-sizing: border-box;
    }
    
    .login-form {
        margin: 32px;
    }
    
    input {
        margin: 4px 8px;
    }
    
    input,
    textarea,
    select {
        display: block;
    }
    
    [type="radio"] {
        display: inline-block;
    }