.header,
.footer {
    height: 50px;
}

.header {
    background-color: yellow;
}

.footer {
    background-color: green;
    clear: both;
}

.content {
    width: 80%;
    background-color: pink;
}

.sidebar {
    width: 20%;
    background-color: grey;
}

.sidebar,
.content {
    height: 500px;
    float: left;
}