* {
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.header {
    height: 3em;
    padding: 0 1em;
    background-color: #eee;
    display: flex;
    justify-content: left;
}

.button {
    padding: 0;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    visibility: hidden;
}

.fas {
    font-size: 2em;
}

.navigation {
    width: 20%;
    padding: .5em;
}

.nav-list {
    padding: 0;
    list-style-type: none;
}

.nav-list-item {
    background-color: #808080;
    color: white;
    height: 2em;
    margin: .5em 0;
    display: flex;
}

.nav-list-link {
    text-decoration: none;
    color: white;
    padding: .5em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (max-width: 600px) {
    .button {
        visibility: visible;
    }
    .navigation {
        visibility: hidden;
    }
}